@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: purple;
}

.creation{
    background-color: black;    
}

.container{
    margin-inline: auto;
    padding-block: 1rem;
}
.row{
    width: 100%;
    height: 60px;
}
.zero,.one, .two, .three, .four, .five {
    margin: 10px 0 0 0;
}
button {
    color:white;
    width: 40px;
    height: 40px;
    border:none;
    background: rgb(0, 13, 255);
    box-shadow: 5px 5px 10px white, -5px -5px 10px rgb(100, 188, 217);
    font-size: 20px;
    margin-left: 20px;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20%;
}
button:active{
    box-shadow: 1px 1px 2px #FFF8F8, -1px -1px 2px #474343;
}
.back{
    width: 115px;
    border-radius: 10px;
}
.tab{
    width: 85px;
    border-radius: 10px;
}
.slace{
     width:85px;
     border-radius: 10px;
}
.cap{
    width:100px;
    border-radius: 10px;
}
.enter{
    width:80px;
    border-radius: 10px;
}
.shift{
    width:150px;
    border-radius: 10px;
}

.space{
    width:390px;
    border-radius: 10px;
}
.Delete{
    width:85px;
    border-radius: 10px;
}
.insert{
    width:75px;
    border-radius: 10px;
}
.pause-play{
    width:100px
}

#play-pause{
    height:43px;
    position:relative;
    top: -9px;

}
#up{
    height:20px;
    position:relative;
    top: -9px;
}
#down{
    margin-left: 690px;
    height:20px;
    position:relative;
    top: -17px;
}
.rowfive{
    margin-right: 135px;
}






